<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-75">
        </div>

        <div class="row h-25 card-outer">
            <div class="home-card-container col-6 hvr-shrink">
                <a href="{% url 'services' %}" class="w-100 h-100 d-block hvr-fade">
                    <div class="row h-100">
                        <div class="col-12 my-auto">
                            <p class="text-light text-center d-block">View available Services</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="home-card-container col-6 hvr-shrink">
                {% if request.user.is_authenticated %} 
                    <a href="{% url 'profiles' %}" class="w-100 h-100 d-block hvr-fade">
                        <div class="row h-100">
                            <div class="col-12 my-auto">
                                <p class="text-light text-center">Hello <strong>{{profile}}</strong>!</p>
                                <p class = "text-center text-light d-block">view your account</p>
                            </div>
                        </div>
                    </a>
                {% else %} 
                    <a href="{% url 'account_login' %}" class="w-100 h-100 d-block hvr-fade">
                        <div class="row h-100">
                            <div class="col-12 my-auto">
                                <p class="text-center text-light d-block">Login Or Register</p>    
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
            
        
        </div>
    
    </div>
{% endblock %}