<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid top-margin services-container p-4">
        <h2 class="header-font text-center">Hi, {{ profile }} Thank you for your purchase!</h2>
        <p class="text-center">A confirmation email has been sent to {{ order.email }}</p>
        <p class="text-center">You can view your new article <a href="{% url 'article' order.product %}">here</a>, or you can browse some of our other excellent <a href="{% url 'services' %}">articles</a>.</p>
    </div>
{% endblock %}