#navbarNav{
    justify-content: flex-end !important;
}

body{
    background: url('/media/back-squat-min.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    z-index: -1000;
}

.card-outer{
    background-color: rgba(52,58,64,0.5);
}

.background-cover{
    height: 100%;
    width: 100%;
    position: fixed;
    color: black;
    top: 0;
}

.top-margin{
    margin-top: 66px;
}

.services-container{
    margin-left:  5%;
    margin-right:  5%;
    width: 90%;
    background-color: white;
    margin-top: 100px;
}

.hvr-fade:hover{
    background-color: rgba(183,168,168,0.5) !important
}

.formstyle{
    width: 80%;
    margin: 3px 10%
}