<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="background-cover">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="header-font">Training Methods</h2>
                </div>
            </div>
            <div class="row">

                {% for type in types %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="row">
                            
                            <div class="image-container">
                                <img src="{{ type.image.url }}" alt="{{ type.name }} Image" class = "services_image">
                            </div>
                            <p>{{ type.name }}</p>
                            <p>{{ type.description</p>
                            <a href="">Want to try this out? book in a session here</a>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    
    </div>
{% endblock %}